[submodule "dvlup/themes/blist"]
	path = dvlup/themes/blist
	url = https://github.com/apvarun/blist-hugo-theme.git
[submodule "dvlup/themes/theme-cards"]
	path = dvlup/themes/theme-cards
	url = https://github.com/hbstack/theme-cards
