{{ $id := .Get "id" }}
{{ if not $id }}
  {{ $id = .Get 0 }}
{{ end }}
{{ $user := .Get "user" }}

{{ if and $id $user }}
<blockquote class="twitter-tweet">
  <a href="https://twitter.com/{{ $user }}/status/{{ $id }}"></a>
</blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{{ else if $id }}
<blockquote class="twitter-tweet">
  <a href="https://twitter.com/i/web/status/{{ $id }}"></a>
</blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{{ end }}
